#main {
    padding-top: 58px;
    padding-bottom: 40px;
    min-height: 80vh;
    background-image: url("../../../assets/img/background-login.png");
}
.container {
    max-width: 1400px; 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    color: #581a27;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    background-color: white;
    h1 {
        margin-top: 0;
        padding-bottom: .5rem;
        border-bottom: 1px solid #581a27;
        margin-bottom: .5rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    a{
        text-decoration: none;
        background-color: transparent;
        box-sizing: border-box;
    }
    .float-right {
        cursor: pointer;
        float: right !important;
    }
}
#account{
    h2{
        font-weight: 700;
        font-size: 18px;
        padding-bottom: .25rem;
        border-bottom: 3px solid rgb(238, 205, 177);
        text-transform: uppercase;
    }
}
.mt-4{
    margin-top: 1.5rem !important;
}
.lanches-vazio{
    text-align: center;
    font-size: 18px;
    color: rgb(134, 53, 31);
    padding: 2rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#lanches{
    .container{
        max-width: 1400px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .lanches-internos{
            margin-left: -15px;
            margin-right: -15px;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        .col-xl-3{
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
        figure{
            display: block;
            margin: 0 0 1rem;
            .img-container{
                border: 3px solid #581a27;
                background-position: 0 0;
                position: relative;
                border-radius: 5px;
                width: 320px;
                height: 320px;

                .img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            
        }
        .titulo{
            height: 38px;
            width: 100%;
            overflow: hidden;
            margin-bottom: 0.5rem;
            padding-top: 6px;
            position: relative;
            text-transform: uppercase;
            display: flex;
            .titulo-lanche{
                font-family: "Bitstream Vera Mono";
                color:#581a27;
                height: 38px;
                width: 100%;
                white-space: nowrap;
            }
            .tipo-lanche{
                width: 100%;
                font-weight: normal;
                font-size: 12px;
                color: rgb(176, 78, 41);
                text-align:end;
            }
        }
        
    }
}