
<ion-header>
  <ion-toolbar>
    <ion-title>
      Hamburger Assembly
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let category of categories">
      <ion-item-divider [color]="isSelectedCategory(category) ? 'primary' : 'light'"
        (click)="toggleCategory(category)">
        {{ category }}
      </ion-item-divider>
      <ion-item *ngFor="let ingredient of filteredIngredients">
        <ion-label>{{ ingredient.nome }}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="addIngredient(ingredient)" fill="clear" color="danger">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          <ion-label>{{ ingredientQuantidade(ingredient) }}</ion-label>
          <ion-button (click)="addIngredient(ingredient)" fill="clear" color="success">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-item>
    <ion-label position="stacked">Burger Name</ion-label>
    <ion-input [(ngModel)]="lancheName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total Calories</ion-label>
    <ion-label>{{ totalCalories }}</ion-label>
  </ion-item>
  <ion-button expand="full" (click)="saveBurger()" [disabled]="!lancheName || totalCalories === 0">
    Save Burger
  </ion-button>
</ion-content>