#main{
    background-image: url("../../../assets/img/background-login.png");
    background-size: contain;
    position:relative;
    min-height:98vh;
    height: 100%;
}

#pagina-login {
    max-width: 320px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #581a27;
    .titulo {
        margin-top: 0;
        font-size: 24px;
        font-weight: 700;
    }
    .subtitulo {
        font-size: 16px;
        font-weight: 300;
    }
    .form-login {
        background-color: rgb(238, 205, 177);
        margin-top: 1rem;
        padding: 30px;
        border: 3px solid #581a27;
        border-radius: 5px;
        .btn-succes {
            text-transform: uppercase;
        }
    }
    .caixa-preenchimento {
        display: block;
        margin: 0.5rem 0;
        .controle-form{
            margin: 10px 0 0 0;
            width: 100%;
            min-height: 2em;
            border-style: none;
            border-radius: 5px;
        }
    }
    input[type="checkbox"]{
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 14px;
        height: 14px;
        margin: 10px 0 0 0;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background: #fff;
    }
    input:checked{
        background-color: #753c30;
    }
    .btn{
        color: rgb(247, 245, 236);
        display: block;
        border-style: none;
        border-radius: 5px;
        width: 60%;
        margin: 1em auto;
        height: 2em;
        font-size: 1.1rem;
        background-color: #581a27;
        &:hover {
            background-color: #753c30;
        }      
    }
    .texto-centrado {
        text-align: center;
    }
    .link-enderecado {
        color: rgb(134, 53, 31);
        &:active {
            color:#581a27;
        }
    }
}