@font-face {
    font-family: "Bitstream Vera Mono";
    src: url("../assets/fonts/VeraMono.ttf");
    src: url("../assets/fonts/VeraMono.ttf") format('truetype');
    font-family: "Bahnschrift";
    src: url("../assets/fonts/BAHNSCHRIFT.TTF") format('truetype');
    font-family: "strangferfixcs";
    src: url("../assets/fonts/strangerfixcs.ttf") format('truetype');
}