@import url('https://fonts.googleapis.com/css?family=Roboto:900');
#main
{
    position:relative;
    min-height:98vh;
    height: 100%;
    //height:100%;
    //padding-bottom: 40px;
    display: block;

    /*top: 50px;*/

    //margin: 0 25% -4em 25%;

    font-family: Verdana, Arial, Tahoma, Times New Roman;
    font-size: 0.8em;
    word-spacing: 1px;
    line-height: 170%;
    /*padding-bottom: 40px;*/

    .carousel {
    height: 480px;
    overflow: hidden;
    position: relative;
    width: 1920px;
    text-align: center;
    padding: 0;
    list-style: none;
    max-height: 480px;
    margin-bottom: 0.75rem;
    }
    .carousel__controls,
    .carousel__activator {
        display: none;
    }
    .carousel__activator {
        &:nth-of-type(1):checked {
            & ~ .carousel__track {
                transform: translateX(0%);
            }
            & ~ .carousel__slide {
                &:nth-of-type(1) {
                    transition: opacity 0.5s, transform 0.5s;
                    top: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: scale(1);
                }
            }
            & ~ .carousel__controls {
                &:nth-of-type(1) {
                    display: block;
                    opacity: 1;
                }
            }
            & ~ .carousel__indicators {
                .carousel__indicator {
                    &:nth-of-type(1) {
                        opacity: 1;
                    }
                }
            }
        }
        &:nth-of-type(2):checked {
            & ~ .carousel__track {
                transform: translateX(-100%);
            }
            & ~ .carousel__slide {
                &:nth-of-type(2) {
                    transition: opacity 0.5s, transform 0.5s;
                    top: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: scale(1);
                }
            }
            & ~ .carousel__controls {
                &:nth-of-type(2) {
                    display: block;
                    opacity: 1;
                }
            }
            & ~ .carousel__indicators {
                .carousel__indicator {
                    &:nth-of-type(2) {
                        opacity: 1;
                    }
                }
            }
        }
        &:nth-of-type(3):checked {
            & ~ .carousel__track {
                transform: translateX(-200%);
            }
            & ~ .carousel__slide {
                &:nth-of-type(3) {
                    transition: opacity 0.5s, transform 0.5s;
                    top: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: scale(1);
                }
            }
            & ~ .carousel__controls {
                &:nth-of-type(3) {
                    display: block;
                    opacity: 1;
                }
            }
            & ~ .carousel__indicators {
                .carousel__indicator {
                    &:nth-of-type(3) {
                        opacity: 1;
                    }
                }
            }
        }
        &:nth-of-type(4):checked {
            & ~ .carousel__track {
                transform: translateX(-300%);
            }
            & ~ .carousel__slide {
                &:nth-of-type(4) {
                    transition: opacity 0.5s, transform 0.5s;
                    top: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: scale(1);
                }
            }
            & ~ .carousel__controls {
                &:nth-of-type(4) {
                    display: block;
                    opacity: 1;
                }
            }
            & ~ .carousel__indicators {
                .carousel__indicator {
                    &:nth-of-type(4) {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .carousel__control {
        height: 30px;
        width: 30px;
        margin-top: -15px;
        top: 50%;
        position: absolute;
        display: block;
        cursor: pointer;
        border-width: 5px 5px 0 0;
        border-style: solid;
        border-color: #581a27;
        opacity: 0.35;
        outline: 0;
        z-index: 3;
        &:hover {
            opacity: 1;
        }
    }
    .carousel__control--backward {
        left: 10px;
        transform: rotate(-135deg);
    }
    .carousel__control--forward {
        right: 10px;
        transform: rotate(45deg);
    }
    .carousel__indicators {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .carousel__indicator {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        display: inline-block;
        z-index: 2;
        cursor: pointer;
        opacity: 0.35;
        margin: 0 2.5px 0 2.5px;
        background-color: #fafafa;
        &:hover {
            opacity: 0.75;
        }
    }
    .carousel__track {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        transition: transform 0.5s ease 0s;
        .carousel__slide {
            display: block;
            top: 0;
            left: 0;
            right: 0;
            opacity: 1;
            &:nth-of-type(1) {
                transform: translateX(0%);
            }
            &:nth-of-type(2) {
                transform: translateX(100%);
            }
            &:nth-of-type(3) {
                transform: translateX(200%);
            }
            &:nth-of-type(4) {
                transform: translateX(300%);
            }
        }
    }
    .carousel--scale {
        .carousel__slide {
            transform: scale(0);
        }
    }
    .carousel__slide {
        height: 100%;
        position: absolute;
        overflow-y: auto;
        opacity: 0;
        overflow: hidden;
    }
    * {
        box-sizing: border-box;
    }
    html,
    body {
        background-color: #111;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #fff;
    }
    .carousel--thumb {
        .carousel__indicator {
            height: 30px;
            width: 30px;
        }
    }
    h1 {
        font-size: 50px;
        line-height: 50px;
        color: #fafafa;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: -25px;
    }
    h2,
    h3 {
        color: #fafafa;
    }
    h3 {
        font-size: 50px;
    }
    .carousel__slide:nth-of-type(1),
    .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
        background-image: url("/assets/img/banner1.png");
        background-size: cover;
        background-position: center;
    }
    .carousel__slide:nth-of-type(2),
    .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
        background-image: url("/assets/img/banner2.png");
        background-size: cover;
        background-position: center;
    }
    .carousel__slide:nth-of-type(3),
    .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
        background-image: url("/assets/img/banner3.png");
        background-size: cover;
        background-position: center;
    }
    .carousel__slide:nth-of-type(4),
    .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
        background-image: url("/assets/img/banner4.png");
        background-size: cover;
        background-position: center;
    }

    #home-secao{
        .secao-lanches{
            margin-bottom: 1rem;
            padding-left: 0;
            padding-right: 0;
        }
        .container-fluid{
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
        .header-sticky{
            z-index: 100;
        }
        .secao-header{
            position: relative;
            letter-spacing: 2px;
            font-weight: bold;
            padding-top: 5px;
            background-color: white;
            cursor: default;
            padding: 13px 0 17px;
            .secao-titulo{
                color:#581a27;
                text-transform: uppercase;
            }
            .secao-subtitulo{
                color: rgb(134, 53, 31);
            }
        }
        .lanches{
            .container{
                max-width: 1400px;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                .lanches-internos{
                    margin-left: -15px;
                    margin-right: -15px;
                }
                .row{
                    display: flex;
                    flex-wrap: wrap;
                }
                .col-xl-3{
                    flex: 0 0 25%;
                    max-width: 25%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                }
                .item-view-dotmatrix{
                    overflow: hidden;
                }
                figure{
                    display: block;
                    margin: 0 0 1rem;
                    .img-container{
                        background-position: 0 0;
                        position: relative;
                        border-radius: 5px;
                        width: 320px;
                        height: 320px;
                        :hover{
                            transform: scale(1.05);
                            transition: all .15s ease-out;
                            cursor: pointer;
                        }

                        .img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                    
                }
                .titulo{
                    height: 38px;
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 0.5rem;
                    padding-top: 6px;
                    position: relative;
                    text-transform: uppercase;
                    display: flex;
                    .titulo-lanche{
                        font-family: "Bitstream Vera Mono";
                        color:#581a27;
                        height: 38px;
                        width: 100%;
                    }
                    .tipo-lanche{
                        width: 100%;
                        font-weight: normal;
                        font-size: 12px;
                        color: rgb(176, 78, 41);
                        text-align:end;
                    }
                }
                
            }
        }
    }
}