<div class="container-footer">
  <div class="container">
    <div class="coluna">
      <div id="sobre-footer" class="col-lg-3 col-md-6">
        <h4 class="titulo-footer">SOBRE FOODSTACK</h4>
        <div class="conteudo-footer">
          <p class="texto-footer">FoodSTACK é um pequeno site desenvolvido como "trabalho de conclusão" do quarto período (segundo ano segundo semestre) do curso de Ciências da Computação na Unicentro, CEDETEG. Esse site tem como objetivo mostrar nossos conhecimentos, habilidades e compreendimentos das devidas matérias, assim como seu propósito único: montar lanches.</p>
        </div>
        <div class="sobre-link">
          <a >Mais sobre nós ></a>
        </div>
        <div class="sobre-link">
          <a >FAQ ></a>
        </div>
        <ul class="redes">
          <li>
            <a href="https://twitter.com/DinoCelestial" target="_blank" aria-label="Autopromoção no twitter">
              <i class="icon icon-twitter-square" aria-hidden="true">::before</i>
            </a>
            <a href="https://www.instagram.com/andretheanimator/" target="_blank" aria-label="Autopromoção no instagram">
              <i class="icon icon-instagram" aria-hidden="true">::before</i>
            </a>
          </li>
        </ul>
      </div>
      <div id="ajuda-footer" class="col-lg-3 col-md-6">
        <h4 class="titulo-footer">Ajuda</h4>
        <div class="conteudo-footer">
          <p class="texto-footer">Verifique nosso <a>FAQ</a> para respostas a perguntas feitas com frequência. Mande um email para nosso serviço de consumidor para possíveis <strong>problemas</strong>, <strong>sugestões</strong>, <strong>críticas</strong> e mais:</p> 
          <a id="email-suporte" href="mailto:andrevitordasilvacardoso@gmail.com" aria-label="Email Suporte FoodSTACK">suporte&#64;foodstack.com</a>
        </div>
      </div>
      <div id="montagem-footer" class="col-lg-3 col-md-6">
        <h4 class="titulo-footer">Lanches</h4>
        <div class="conteudo-footer">
          <ul id="tipos-lanches-footer">
            <li>
              <a class="link" (click)="montagem()">Montar Lanches</a>
            </li>
            <li>
              <a class="link" (click)="hamburguer()">Hamburguer</a>
            </li>
            <li>
              <a class="link" (click)="hotdog()">Cachorro-quente</a>
            </li>
            <li>
              <a class="link" (click)="pizza()">Pizza</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div id="copyright">
    Unicentro Cedeteg 2023
  </div>
</div>

