.container-footer {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;

    background-color: rgb(134, 53, 31);
    box-shadow: inset 0 45px rgb(158, 93, 75);
    border-top: 5px solid rgb(88, 26, 39);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(to right,rgb(61, 8, 24),rgb(126, 30, 27));
    border-image-slice: 1;
    color: #fff;
    display:block;
    
    position: absolute bottom;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    .container {
        max-width: 1400px;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .coluna {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
            display: flex;
            float: none;
            line-height: 24px;
            position: static;
            z-index: auto;
            .col-lg-3 {
                flex: 0 0 33%;
                max-width: 33%;
            }
            .col-md-6 {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
            h4 {
                margin: 0;
                padding: 12px 0;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: 2px;
                line-height: 1.2;
            }
            .conteudo-footer {
                padding: 15px 0;
            }
            .sobre-link {
                color: #fff;
                margin-bottom: .25rem;
            }
            p {
                line-height: 1.2;
                margin-bottom: .5rem;
                margin-top: 0;
            }
            .redes {
                margin-top: 1rem;
                padding-left: 0;
                font-size: 26px;
            }
            ul {
                list-style: none;
                margin-bottom: 0;
                margin-top: 0;
            }
            #tipos-lanches-footer{
                padding-left: 0;
                font-size: 18px;
                font-weight: 700;
                border: none;
            }
            #email-suporte {
                font-size: 18px;
                font-weight: 700;
                border: none;
            }
            a {
                color: #fff;
                text-decoration: none;
                background-color: transparent;
            }
        }
        #copyright {
            margin-top: 1rem;
            padding-top: 1rem;
            padding-bottom: 2rem;
            border-top: 1px solid white;
            font-size: 12px;
            text-align: center;
        }
    }
}